body {
    box-sizing: border-box;
    background-color: #ccc;
}

.container {
    width: 95%;
    height: 200px;
    margin-left: 2.5%;
    padding-top: 20px;
    background-color: #999;
    color: #FFF;
    box-shadow: 7px 7px 10px #577;
}

.cont-2 {
    width: 92.3%;
}

h2 {
    padding: 20px;
    font-size: 36px;
    border-top: 2px solid #19c;
    border-bottom: 2px solid #19c;
    box-shadow: 15px 15px 9px #9aa;
    text-shadow: 2px 2px 2px #FFF;
}

.text {
    display: inline-block;
    margin: 2px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 1px #000;
    word-wrap: break-word;
}

.stop {
    width: 100%;
    margin: 5px 0;
    font-size: 3rem;
}

.score {
    border-bottom: 1px solid #dfc407;
    font-size: 2rem;
}

.time {
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 95%;
    height: 90%;
    margin: auto;
    outline: none;
    resize: none;
    font-family: 'Dosis', sans-serif;
    background-color:#666;
    transition: background-color 0.5s;
}

textarea:focus {
    background-color: #ccc;
    transition: background-color 0.5s;
}

.center {
    text-align: center;
    padding: 20px 16px 0;
}

.green {
    color: #9c9;
}

.red {
    color: #c69;
}
