@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .g {
        color: #15803d;
    }
    .r {
        color: #dc2626;
    }
    .text-writted {
        font-size: 20px;
        line-height: 1rem;
    }
}